<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mogreene.security.repository.UserRepository">
    <!--유저 등록-->
    <insert id="insertUser" parameterType="com.mogreene.security.dto.UserDTO">
        INSERT INTO user(username,
                         password,
                         email,
                         role)

        VALUES(#{username},
               #{password},
               #{email},
               #{role})
    </insert>
</mapper>
